<ul >
  {{#events}}
    <li>
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <button type="button" class="btn btn-primary">Like</button>
        <button type="button" class="btn btn-primary">Comment</button> </br>

        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <button type="button" class="btn btn-primary">Like</button>
        <button type="button" class="btn btn-primary">Comment</button>        
    </li>
  {{/events}}
</ul>